body {
	scroll-behavior: smooth;
	margin: 0;
	font-family: "Roboto";
	-webkit-font-smoothing: antialiased;
}

/* Background */
.background {
	background: url('/img/background.png') no-repeat center center fixed;
	background-size: cover;
	min-height: 100%;
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}

/* Cards */
.card {
	color: rgba(0,0,0,.87);
	background-color: #fff;
	border-radius: 2px;
	font-size: 14px;
	box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
	margin: 8px;
	padding: 24px;
	margin: 24px auto;
	max-width: 1200px;
}
.card-name {
	font-size: 24px;
	font-weight: 300;
}
.card-body {
	padding-top: 8px;
}
.card a {
	color: #1976d2;
	border-bottom: #1976d2 1.5px solid;
	text-decoration: none;
}

/* Footer */
#footer {
	color: #fff;
	text-align: center;
	margin: 8px 10%;
	padding: 16px 0; 
	clear: both;
}
/* Social */
#social {
	font-size: 32px;
}
#social > a {
	color: #fff;
	text-decoration: none;
}
#social i.mdi {
	padding: 8px;
}