@-moz-document url-prefix() {
	/* Circle Reveal */
	.circle-reveal {
		overflow: hidden;
		position: relative;
	}
	.circle-reveal-content {
		border-radius: 50%;
		overflow: hidden;
		opacity: 0;
		transition: all .3s cubic-bezier(.2,0,.4,1);
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
	}
	.circle-reveal-content.circle-reveal-active {
		border-radius: 0;
		opacity: 1;
	}
}