{
  "presets": ["next/babel"]
}
// {
// 	"plugins": [
// 		[
// 			"import",
// 			{
// 				"libraryName": "@material-ui/core",
// 				"libraryDirectory": "components", // default: lib
// 				"camel2DashComponentName": false, // default: true
// 			}
// 		]
// 	]
// }
