.corbin, .evelyn {
	height: 500px;
	width: 500px;
}
.landscape {
	width: 640px;
	height: 360px; 
}
#color {
	background-color: #212121;
}

/* Circle Reveal */
.circle-reveal {
	overflow: hidden;
	position: relative;
}
.circle-reveal-content {
	-webkit-clip-path: circle(0% at 50% 50%);
	clip-path: circle(0% at 50% 50%);
	transition: all .3s cubic-bezier(.2,0,.4,1);
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
.circle-reveal-content.circle-reveal-active {
	-webkit-clip-path: circle(100% at 50% 50%);
	clip-path: circle(100% at 50% 50%);
} 