body {
	margin: 0;
	scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	background: #f5f5f5;
	font-family: "Roboto";
	color: rgba(0,0,0,.87);
}
.card, .results {
	border-radius: 2px;
	box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
	width: calc(100% - 16px);
	max-width: 1800px;
	margin: 8px auto;
	background: #fff;
	padding: 24px;
	box-sizing: border-box;
}
.results {
	padding: 0;
}
.card-title {
	font-size: 1.5em;
	margin-bottom: 8px; 
}
.card-subtitle {
	font-weight: 400;
	color: rgba(0,0,0,.54);
	margin-bottom: 16px; 
}
.results .card-title {
	padding: 24px 24px 0 24px;
}
.results .card-subtitle {
	padding: 0 24px;
}
.table {
	width: 100%;
	border: none;
	border-spacing: 0;
}
.table-header {
	color: rgba(0,0,0,.54);
	font-weight: 600;
	font-size: 14px;
}
.table-container {
	overflow-x: auto;
}
.table-item {
	height: 48px;
}
.table-item:hover {
	background: rgba(33,33,33,.1);
}
td {
	padding: 16px 56px 16px 0;
	border-top: 1px rgba(0,0,0,.12) solid;
	text-align: right;
}
td:first-of-type {
	padding: 16px 24px 16px 24px;
	text-align: left;
}
tr:first-of-type td {
	border: none;
}
td:last-of-type {
	padding: 16px 24px 16px 0;
}