<!DOCTYPE html>
<html>
	<head>
		<meta name="theme-color" content="#512da8">
		<title>Input</title>
		<!-- <link rel="icon" href="/img/favicon.ico"> -->
		<link rel="stylesheet" target="_blank" href="css/materialdesignicons.min.css"></link>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="css/styles.css">
	</head>
	<body>
		<div class="row">
			<!-- Material Design -->
			<div class="col s3-12"></div>
			<!-- Windows -->
			<div class="col s3-12"></div>
			<!-- Apple -->
			<div class="col s3-12"></div>
			<!-- Ubuntu -->
			<div class="col s3-12"></div>
			<!-- KDE Breeze -->
			<div class="col s3-12">
				<div class="heading">Regular</div>
				<div class="kde-breeze-button">Button</div>
				<a class="kde-breeze-button">Button</a>
				<button class="kde-breeze-button">Button</button>

				<div class="heading">Regular with Icon</div>
				<div class="kde-breeze-button"><i class="mdi mdi-folder"></i>Button</div>
				<a class="kde-breeze-button"><i class="mdi mdi-folder"></i>Button</a>
				<button class="kde-breeze-button"><i class="mdi mdi-folder"></i>Button</button>

				<div class="heading">Disabled</div>
				<div class="kde-breeze-button disabled">Button</div>
				<a class="kde-breeze-button disabled">Button</a>
				<button class="kde-breeze-button disabled">Button</button>

				<div class="heading">Disabled with Icon</div>
				<div class="kde-breeze-button disabled"><i class="mdi mdi-folder"></i>Button</div>
				<a class="kde-breeze-button disabled"><i class="mdi mdi-folder"></i>Button</a>
				<button class="kde-breeze-button disabled"><i class="mdi mdi-folder"></i>Button</button>

				<div class="heading">Gradient</div>
				<div class="kde-breeze-button gradient">Button</div>
				<a class="kde-breeze-button gradient">Button</a>
				<button class="kde-breeze-button gradient">Button</button>

				<div class="heading">Gradient with Icon</div>
				<div class="kde-breeze-button gradient"><i class="mdi mdi-folder"></i>Button</div>
				<a class="kde-breeze-button gradient"><i class="mdi mdi-folder"></i>Button</a>
				<button class="kde-breeze-button gradient"><i class="mdi mdi-folder"></i>Button</button>

				<div class="heading">Flat</div>
				<div class="kde-breeze-button flat">Button</div>
				<a class="kde-breeze-button flat">Button</a>
				<button class="kde-breeze-button flat">Button</button>

				<div class="heading">Flat with Icon</div>
				<div class="kde-breeze-button flat"><i class="mdi mdi-folder"></i>Button</div>
				<a class="kde-breeze-button flat"><i class="mdi mdi-folder"></i>Button</a>
				<button class="kde-breeze-button flat"><i class="mdi mdi-folder"></i>Button</button>
			</div>
			<div class="col s3-12"></div>
			<div class="col s3-12"></div>
			<div class="col s3-12"></div>
			<div class="col s3-12"></div>
			<div class="col s3-12"></div>
			<div class="col s3-12"></div>
			<div class="col s3-12"></div>
		</div>
		<!-- Scripts -->
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script> -->
		<script src="js/external/jquery.waypoints.min.js"></script>
		<script src="js/external/inview.min.js"></script>
		<script src="js/kde-breeze.js"></script>
		<!-- <script src="/js/script.js"></script> -->
	</body>
</html>