<!DOCTYPE html>
<html>
	<head>
		<meta name="theme-color" content="#512da8">
		<title>Input</title>
		<!-- <link rel="icon" href="/img/favicon.ico"> -->
		<link rel="stylesheet" target="_blank" href="css/materialdesignicons.min.css"></link>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css"> -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="css/styles.css">
	</head>
	<body>
		<div class="header">
			<div class="logo">Components</div>
			<div class="row-header">
				<div class="col-header">Material Design</div>
				<div class="col-header">Windows</div>
				<div class="col-header">Apple</div>
				<div class="col-header">Ubuntu</div>
				<div class="col-header">KDE  Breeze</div>
				<div class="col-header"></div>
				<div class="col-header"></div>
				<div class="col-header"></div>
				<div class="col-header"></div>
				<div class="col-header"></div>
				<div class="col-header"></div>
				<div class="col-header"></div>
			</div>
		</div>

		<div class="row">
			<!-- Material Design -->
			<div class="col"></div>
			<!-- Windows -->
			<div class="col"></div>
			<!-- Apple -->
			<div class="col"></div>
			<!-- Ubuntu -->
			<div class="col"></div>
			<!-- KDE Breeze -->
			<div class="col">
				<div class="kde-breeze-button" tabindex="0">Button</div>
				<a class="kde-breeze-button" tabindex="0">Button</a>
				<button class="kde-breeze-button">Button</button>
			</div>
			<div class="col"></div>
			<div class="col"></div>
			<div class="col"></div>
			<div class="col"></div>
			<div class="col"></div>
			<div class="col"></div>
			<div class="col"></div>
		</div>
		<!-- Scripts -->
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script> -->
		<script src="js/external/jquery.waypoints.min.js"></script>
		<script src="js/external/inview.min.js"></script>
		<!-- <script src="/js/script.js"></script> -->
	</body>
</html>