/* Circle Reveal 
   Author: XOR Projects
   GitHub: https://github.com/xorprojects/Circle-Reveal-CSS
   License: MIT */
.circle-reveal {
	overflow: hidden;
	position: relative;
}
.circle-reveal-content {
	-webkit-clip-path: circle(0% at 50% 50%);
	clip-path: circle(0% at 50% 50%);
	transition: all .3s cubic-bezier(.2,0,.4,1);
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
.circle-reveal-content.circle-reveal-active {
	-webkit-clip-path: circle(100% at 50% 50%);
	clip-path: circle(100% at 50% 50%);
} 