/* Circle Reveal 
   Author: XOR Projects
   GitHub: https://github.com/xorprojects/Circle-Reveal-CSS
   License: MIT */
/* CSS Hack for IE 10
   IE 10 will not support for clip-path: circle(); */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.circle-reveal-content {
		-webkit-border-radius: 50%;
		   -moz-border-radius: 50%;
		        border-radius: 50%;
		overflow: hidden;
		opacity: 0;
	}
	.circle-reveal-content.circle-reveal-active {
		-webkit-border-radius: 0;
		   -moz-border-radius: 0;
		        border-radius: 0;
		opacity: 1;
	}
}
/* CSS Hack for Edge
   Remove when Edge adds support for clip-path: circle(); */
@supports (-ms-accelerator: true) { 
	.circle-reveal-content {
		-webkit-border-radius: 50%;
		   -moz-border-radius: 50%;
		        border-radius: 50%;
		overflow: hidden;
		opacity: 0;
	}
	.circle-reveal-content.circle-reveal-active {
		-webkit-border-radius: 0;
		   -moz-border-radius: 0;
		        border-radius: 0;
		opacity: 1;
	}
}
/* CSS Hack for Firefox
   Remove when Firefox adds support for clip-path: circle(); */
@-moz-document url-prefix() {
	.circle-reveal-content {
		-moz-border-radius: 50%;
		     border-radius: 50%;
		overflow: hidden;
		opacity: 0;
	}
	.circle-reveal-content.circle-reveal-active {
		-moz-border-radius: 0;
		     border-radius: 0;
		opacity: 1;
	}
}