/* Circle Reveal 
   Author: XOR Projects
   GitHub: https://github.com/xorprojects/Circle-Reveal-CSS
   License: MIT */
.circle-reveal {
	overflow: hidden;
	position: relative;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
}
.circle-reveal-content {
	pointer-events: none;
	-webkit-clip-path: circle(0% at 50% 50%);
	clip-path: circle(0% at 50% 50%);
	height: inherit;
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	-webkit-transition: all .3s cubic-bezier(.2,0,.4,1);
	-moz-transition: all .3s cubic-bezier(.2,0,.4,1);
	-o-transition: all .3s cubic-bezier(.2,0,.4,1);
	transition: all .3s cubic-bezier(.2,0,.4,1);
}
.circle-reveal-content.circle-reveal-active {
	-webkit-clip-path: circle(100% at 50% 50%);
	clip-path: circle(100% at 50% 50%);
} 