/* Circle Reveal 
   Author: XOR Projects
   GitHub: https://github.com/xorprojects/Circle-Reveal-CSS
   License: MIT */
.circle-reveal-content {
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	overflow: hidden;
	opacity: 0;
}
.circle-reveal-content.circle-reveal-active {
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	        border-radius: 0;
	opacity: 1;
}