/* Temp Override */

/* Global Styles */
html, body {
	height: 100%;
}
body {
	scroll-behavior: smooth;
	width: 100%;
	margin: 0;
}
.col {
	float: left;
}
.col.s10-10 {
	width: 100%;
}
.col.s9-10 {
	width: 90%;
}
.col.s8-10 {
	width: 80%;
}
.col.s7-10 {
	width: 70%;
}
.col.s6-10 {
	width: 60%;
}
.col.s5-10 {
	width: 50%;
}
.col.s4-10 {
	width: 40%;
}
.col.s3-10 {
	width: 30%;
}
.col.s2-10 {
	width: 20%;
}
.col.s1-10 {
	width: 10%;
}
/* Twelveths */
.col.s12-12 {
	width: 100%;
}
.col.s11-12 {
	width: 91.66%;
}
.col.s10-12 {
	width: 83.33%;
}
.col.s9-10 {
	width: 75%;
}
.col.s8-10 {
	width: 66.66%;
}
.col.s7-10 {
	width: 58.33%;
}
.col.s6-10 {
	width: 50%;
}
.col.s5-10 {
	width: 41.66%;
}
.col.s4-10 {
	width: 33.33%;
}
.col.s3-10 {
	width: 25%;
}
.col.s2-10 {
	width: 16.66%;
}
.col.s1-10 {
	width: 8.33%;
}


/* KDE Breeze */
.kde-breeze-button {
	border-radius: 4px;
	background-color: #fcfcfc;
	color: #4d4d4d;
	border: 2px solid #acadad;
	font-family: Calibri, Arial, sans-serif;
	font-size: 24px;
	letter-spacing: .3px;
	padding: 8px 20px;
	margin: 2px;
	outline: none;
	cursor: pointer;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	white-space: nowrap;
	-webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.2);
	box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.2);
	transition: all .3s ease-out;
}
.kde-breeze-button.disabled {
	background-color: rgba(0,0,0,0) !important;
	color: #b2b3b4 !important;
	border: 2px solid #b2b3b4 !important;
	cursor: default !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}
.kde-breeze-button.gradient {
	background: #fcfcfc;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f5f5f7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f5f5f7));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f5f5f7 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f5f5f7 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#f5f5f7 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#f5f5f7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f7',GradientType=0 );
}
.kde-breeze-button.flat {
	background-color: rgba(0,0,0,0);
	border: 2px solid rgba(0,0,0,0);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.kde-breeze-button:focus {
	background-color: #fcfcfc;
	color: #535353;
	border: 2px solid #1d99f3;
}
.kde-breeze-button.flat:focus {
	background-color: rgba(0,0,0,0);
}
.kde-breeze-button:active {
	background-color: #1d99f3;
	color: #eff0f1;
	border: 2px solid #2689d1;
	-webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.2);
	box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.2);
}
.kde-breeze-button.flat:active {
	background-color: #1d99f3;
	color: #eff0f1;
	border: 2px solid #2689d1;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.kde-breeze-button.gradient:active {
	background: #1d99f3;
}
div.kde-breeze-button {
	display: inline;
}
.kde-breeze-button > i {
	padding-right: 20px;
	line-height: 18px;
	color: #4d4d4d;
}
.kde-breeze-button.disabled > i {
	color: #aeafb0;
}